{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Сбросить пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, введите свой новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить мой пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, из-за того, что она уже использовалась.</p>
        <p>Запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}