.admin-panel { /* class admin-panel */
    border: 1px solid #999;
    border-radius: 6px;
    position: fixed;
    right: 40px;
    bottom: 30px;
    opacity: 0.5;
    padding: 10px;
}

.admin-panel:hover {
    opacity: 1;
}

.admin-panel a { /* class admin-panel; a nested tag */
    display: block;
    margin: 5px 0;
}

a.edit, a.delete { /* a tag; edit/deleted class */
    display: none;
}

.inline {
    display: inline-block;
}

.center-pic{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.preview{
    max-height: 100%;
}

img.post{
    max-width: 70%;
    height: auto;
    display: block;
}

img.delete{
    max-width: 60%;
    height: auto;
    display: block;
    margin-bottom: 8px;
}

.layer{
    margin-left: 1%;
}

div.comment{
    margin: 10px 0;
}