{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="mt-5">
        {{ post.title }}
    </h1>

    {% if post.image_preview %}
        <img class="post" src="{{ post.image_preview.url }}">
    {% endif %}

    <p>
        {{ post.body|safe }}
    </p>

{% endblock %}

{% block comments %}
    {% with comments.count as total_comments %}
    <h4>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h4>
    {% endwith %}

    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h4>Your comment has been added.</h4>
    {% else %}
        <h4>Add a new comment</h4>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
{% endblock %}